<app-search-announcements></app-search-announcements>
<div>
    <h2>Последно добавени обяви</h2>
    <div appMarkReviewedAnnouncement class="col-md-3" *ngFor="let ad of (announcements | async | showActive: true | sort:'-$key' | top:12)">
        <img src="{{ad.image}}" alt="{{ad.title}}">
        <p><strong>{{ad.title}}</strong> за {{ad.clas}} клас</p>
        <p name="username">Свържи се с: <a [routerLink]="['/user/details', ad.$key, ad.userid]"> {{ad.username}}</a></p>
        <p name="publisher">Издателство: {{ad.publisher}}</p>
        <p name="year">Година на издаване: {{ad.year}}</p>
        <p name="price">Цена: {{ad.price | toBGNMoney}}</p>
        <p><a class="btn btn-default" [routerLink]="['/announcement', ad.$key]" role="button">Виж повече &raquo;</a></p>
    </div>
</div>