<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Вход</h1>
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSignIn()">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                            <input formControlName="email" type="email" id="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Парола</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                            <input formControlName="password" type="password" id="password" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit" [disabled]="!myForm.valid">Вход</button>
                </div>
            </form>
        </div>
    </div>
</div>