<div class="panel-heading">
    <div class="panel-title text-center">
        <h1 class="title">Контакти</h1>
        <h4>Ако имате затруднения или проблем в използването на сайта,</h4>
        <h4>можете да се свържете с нас на e-mail: TycheTeam2@gmail.com</h4>
        <h4>или да ни пишете чрез формуляра по-долу</h4>
        <hr />
    </div>
</div>
<div class="center col-md-6">
    <form [formGroup]="myForm" class="form-horizontal" (ngSubmit)="onSent()">
        <div class="form-group">
            <label for="name">Име</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input formControlName="name" #name type="text" class="form-control" name="InputName" id="InputName" [ngModel]="(isAuthUid() | getUser | async)?.name || 'Въведете име'" (ngModelChange)="name.value = $event">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <input formControlName="dbemail" #dbemail type="text" class="form-control" name="InputName" id="InputName" [ngModel]="(isAuthUid() | getUser | async)?.dbemail || 'Въведете e-mail'" (ngModelChange)="dbemail.value = $event">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="InputMessage">Message</label>
            <div class="cols-sm-10">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                <textarea formControlName="notes" #notes name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
            </div>
        </div>
        <div class="form-group ">
            <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Изпрати</button>
        </div>
    </form>
</div>