<!--<app-announcements-list *ngIf="!isFiltered" 
    [announcements] = "announcements">
</app-announcements-list>-->
<!--
<app-foundannouncements-list *ngIf="isFiltered" [announcements]="announcements" [searchText]="searchText" [searchClas]="searchClas" [searchAuthor]="searchAuthor">
</app-foundannouncements-list>-->

<router-outlet>
    <div class="search-form-control">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <h4>Намери учебник</h4>
            </div>
            <div class="col-xs-6 col-sm-3">
                <input type="text" class="form-control" name="title" placeholder="Въведи име или предмет..." (input)="onInput($event)">
            </div>
            <div class="col-xs-6 col-sm-2">
                <input type="text" class="form-control" name="clas" placeholder="Въведи клас..." (input)="onInput($event)">
            </div>
            <div class="col-xs-6 col-sm-2">
                <input type="text" class="form-control" name="author" placeholder="Въведи автор..." (input)="onInput($event)">
            </div>
            <a class="btn btn-secondary" (click)="findRecords()">Намери</a>
        </div>
    </div>
</router-outlet>