<app-navbar></app-navbar>
<app-alert></app-alert>
<router-outlet></router-outlet>
<div class="clearfix"></div>
<footer class="footer text-center footer-body">
    <div class="container-fluid">
        <div class="footer-header">
            <p class="navbar-center">Single page приложения с Angular 2 &copy; 2016 <a href="https://telerikacademy.com/">Telerik Academy</a></p>
            <p class="navbar-center "> Application by <a href="#" target="_blanc">Tyche<sup>2</sup> Team</a></p>
        </div>
    </div>
</footer>