<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-5">
            <h2>{{pageTitle}}</h2>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="row" style="padding-top: 20px">
                <div class="col-xs-6 col-sm-4">
                    <label for="sortBy">Сортирай по:</label>
                </div>
                <div class="col-xs-6 col-sm-8">
                    <select class="form-control" id="sortBy" (change)="onSortByChange($event)">
                        <option *ngFor="let sortBy of sortByOptions" [selected]="sortByOptions === sortBy" value="{{sortBy}}">{{sortBy}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-2" style="padding-top: 20px">
            <select class="form-control" id="order" (change)="onOrderChange($event)">
                <option [selected]="order === 'asc'">Възходящо</option>
                <option [selected]="order === 'desc'">Низходящо</option>
            </select>
        </div>
    </div>
    <div *ngIf="!isFiltred">
        <div class="row" *ngIf="isAuth()">
            <button type="button" class="btn btn-secondary" (click)="onAnnouncementsTypeChange($event)" isActive="true">Активни</button>
            <button type="button" class="btn btn-secondary" (click)="onAnnouncementsTypeChange($event)" isActive="false">Архивирани</button>
        </div>
        <div class="container bordercontainer col-md-11" *ngFor="let ad of (announcements | async | showActive: isActive | sort: sortByKey)">
            <div class="col-md-1">
                <img src="{{ad.image}}" alt="{{ad.title}}">
            </div>
            <div class="col-md-9">
                <p><strong>{{ad.title}} за {{ad.clas}} клас</strong></p>
                <p name="publisher"><strong>Издателство:</strong> {{ad.publisher}}</p>
                <p name="authors"><strong>Автори:</strong> {{ad.authors}}</p>
                <p><a [routerLink]="['/announcement', ad.$key]">Виж подробна информация &raquo;</a></p>
            </div>
            <div class="col-md-1" *ngIf="isAuth() && isActive">
                <p><a [routerLink]="['/announcement/edit', ad.$key]">Редактирай</a></p>
                <p><a (click)="unactivateAnnouncement(ad.$key)" style="cursor: pointer;">Архивирай</a></p>
            </div>
            <div class="col-md-1" *ngIf="isAuth() && !isActive">
                <p><a (click)="activateAnnouncement(ad.$key)" style="cursor: pointer;">Активирай</a></p>
            </div>
        </div>
    </div>
    <div *ngIf="isFiltred">
        <div class="row">
            <pagination-controls (pageChange)="page = $event" id="1" maxSize="5" directionLinks="true" autoHide="true">
            </pagination-controls>
        </div>
        <div appMarkReviewedAnnouncement class="container bordercontainer col-md-11" *ngFor="let ad of (announcements | async | showActive: true | filterBy: searchText:searchClas:searchAuthor | sort: sortByKey | paginate: {itemsPerPage: 5, currentPage:page, id: '1'})"
            [attr.data-id]="ad.$key">
            <span class="reviewed-announcement-span hidden"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i></span>
            <div class="col-md-1">
                <img src="{{ad.image}}" alt="{{ad.title}}">
            </div>
            <div class="col-md-10">
                <p><strong>{{ad.title}} за {{ad.clas}} клас</strong></p>
                <p name="publisher"><strong>Издателство:</strong> {{ad.publisher}}</p>
                <p name="authors"><strong>Автори:</strong> {{ad.authors}}</p>
                <p><a [routerLink]="['/announcement', ad.$key]">Виж подробна информация &raquo;</a></p>
            </div>
        </div>
    </div>